# 1处理缺失值
变量.isnull() 缺失值返回true
变量.notnull() 缺失值返回false

In [12]:
import pandas as pd
import numpy as np
d=pd.DataFrame([[3,5,3],[1,6,np.nan],['lili',np.nan,'pop'],[np.nan,'a','b'],[np.nan,np.nan,np.nan]])
d

      0    1    2
0     3    5    3
1     1    6  NaN
2  lili  NaN  pop
3   NaN    a    b
4   NaN  NaN  NaN

In [13]:
#变量.isnull() 缺失值返回true
print(d.isnull())
print(d.isnull().sum().sum())

       0      1      2
0  False  False  False
1  False  False   True
2  False   True  False
3   True  False  False
4   True   True   True
6

In [14]:
#变量.notnull() 缺失值返回false
print(d.notnull())

       0      1      2
0   True   True   True
1   True   True  False
2   True  False   True
3  False   True   True
4  False  False  False

变量.dropna()默认删除包含缺失值的行   加上一个how='all' 参数删除全部是缺失值的行

In [16]:
d2=d.dropna()#删除所有包含缺失值的行
print(d2)
print('---分割线---')
d3=d.dropna(how='all')#加上how=‘all’参数可以删除全部为缺失值的行
print(d3)

   0  1  2
0  3  5  3
---分割线---
      0    1    2
0     3    5    3
1     1    6  NaN
2  lili  NaN  pop
3   NaN    a    b

变量.dropna()删除列要加一个 axis=0 的参数

In [ ]:
填充缺失值 变量.fillna() 将缺失值填充为常数值，在 fillna()中填入字典数据类型的数据，可以为指定的列填充不同的值，fillna()返回新数据，不修改源数据

In [17]:
d4=pd.DataFrame(np.arange(12).reshape(3,4))
d4

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

修改dataframe数据中的数据

In [36]:
d4.loc[1,1]=np.nan#修改dataframe中的值
d4.loc[1,2]=np.nan
d4

   0    1     2   3
0  0  1.0   2.0   3
1  4  NaN   NaN   7
2  8  9.0  10.0  11

In [35]:
d5=d4.fillna(99)#fillna()补齐数据中的缺失值
d5

   0     1     2   3
0  0   1.0   2.0   3
1  4  99.0  99.0   7
2  8   9.0  10.0  11

In [37]:
#变量.fillna()中传入字典类型为指定的列填充不同的值
d6=d4.fillna({1:88,2:77})
d6

   0     1     2   3
0  0   1.0   2.0   3
1  4  88.0  77.0   7
2  8   9.0  10.0  11

In [ ]:
删除数据中的重复值

In [38]:
d=pd.DataFrame(np.arange(12).reshape(3,4))
d

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [44]:
d.loc[1,1]=4#更改dataframe中的数据
d.loc[1,2]=4
d.loc[1,3]=4
d.loc[2,0]=4
d.loc[2,1]=4
d.loc[2,2]=4
d.loc[2,3]=4
d

   0  1  2  3
0  0  1  2  3
1  4  4  4  4
2  4  4  4  4

In [ ]:
#变量.duplicated方法检测数据中是否有 重复值

In [45]:
zhi=d.duplicated()#检测数据中是否有重复值
zhi

0    False
1    False
2     True
dtype: bool

In [49]:
zhi2=d.drop_duplicates()#删除数据中的重复值不改变源数据
zhi2

   0  1  2  3
0  0  1  2  3
1  4  4  4  4

# 时间序列

In [53]:
sr=pd.Series(np.arange(100),index=pd.date_range('2017-01-01',periods=100))
sr

2017-01-01     0
2017-01-02     1
2017-01-03     2
2017-01-04     3
2017-01-05     4
              ..
2017-04-06    95
2017-04-07    96
2017-04-08    97
2017-04-09    98
2017-04-10    99
Freq: D, Length: 100, dtype: int32

In [51]:
print(sr)

2017-01-01     0
2017-01-02     1
2017-01-03     2
2017-01-04     3
2017-01-05     4
              ..
2017-04-06    95
2017-04-07    96
2017-04-08    97
2017-04-09    98
2017-04-10    99
Freq: D, Length: 100, dtype: int32

In [56]:
sr['2017-03'].sum()#统计一个月之和

2294