In [19]:
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
matplotlib.rcParams['font.family']='Simhei'#更改中文字体
plt.plot

# pandas

In [1]:
import pandas as pd
d=pd.Series(range(20))
#列表创建series
a=pd.Series([2,3,4,5],index=['a','b','c','d'])#index自定义索引
print(a)
print(list(a.index))
print(list(a.values))

a    2
b    3
c    4
d    5
dtype: int64
['a', 'b', 'c', 'd']
[2, 3, 4, 5]

In [14]:
#字典创建sseries
c=pd.Series({'a':24,'c':4,'b':52,'d':4})
print(c)
print(pd.Series({'a':24,'c':4,'b':52,'a':4},index=['a','b','d','c']))
#c.values#获得数据
#c.index#获得索引
print(c['a'])  #自动索引和自定义索引并存
print(c[0])

a    24
c     4
b    52
d     4
dtype: int64
a     4.0
b    52.0
d     NaN
c     4.0
dtype: float64
24
24

In [22]:
a1=pd.Series([9,8,7,6],['a','b','d','d'])
print(a1)
print(a1[1:4])
print(a1[a1>a1.median()])#切片出series中大于数组平均数的值

if a1.get('a'):
    print('王凯旋是天才') #运用了字典的get方法

a    9
b    8
d    7
d    6
dtype: int64
b    8
d    7
d    6
dtype: int64
a    9
b    8
dtype: int64
王凯旋是天才

# series对象的修改
series对象可以随时修改并即刻生效

In [28]:
a2=pd.Series([9,8,7,6],['a','b','c','d'])
a2.name='series对象'
a2.index.name='索引列'
print(a2)
a2['a']=89#series对象可以随时直接赋值修改并即刻生效
print(a2)

索引列
a    9
b    8
c    7
d    6
Name: series对象, dtype: int64
索引列
a    89
b     8
c     7
d     6
Name: series对象, dtype: int64

In [ ]:
dateframe类型

In [23]:
import numpy as np
de=pd.DataFrame(np.arange(12).reshape(3,4),index=['南京','天津','北京',],columns=['a','b','c','d'])#从二维ndarray数组创建
de

    a  b   c   d
南京  0  1   2   3
天津  4  5   6   7
北京  8  9  10  11

In [42]:
de=de.reindex(index=['北京','天津','南京'])#.reindex方法重排或者改变索引
new=de.columns.insert(4,'东北')
d=de.reindex(columns=new,fill_value='王凯旋')
print(d)
d['a']

    a  b   c   d   东北
北京  8  9  10  11  王凯旋
天津  4  5   6   7  王凯旋
南京  0  1   2   3  王凯旋

北京    8
天津    4
南京    0
Name: a, dtype: int32

In [32]:
#从series类型构成的字典创建
d={'ONE':pd.Series([1,2,3],index=['a','b','c']),'TWO':pd.Series([9,8,7,6],['a','b','c','d'])}
dt=pd.DataFrame(d)
dt

   ONE  TWO
a  1.0    9
b  2.0    8
c  3.0    7
d  NaN    6

In [4]:
#有列表类型构成的字典创建的
dt3={'城市':['北京','上海','广州','深圳','沈阳'],
    '环比':[101.5,101.2,101.3,102.0,100.1],
    '同比':[120.7,127.3,119.4,140.9,101.4],
    '定基':[121.4,127.8,120.0,145.5,101.6]}
a=pd.DataFrame(dt3)
a.index.name='数据'
a.columns.name='地区'
print(a)
print('-----分割线------')

a2=a.set_index(['环比'])#将列数据转化为行数据的索引
a2

地区  城市     环比     同比     定基
数据
0   北京  101.5  120.7  121.4
1   上海  101.2  127.3  127.8
2   广州  101.3  119.4  120.0
3   深圳  102.0  140.9  145.5
4   沈阳  100.1  101.4  101.6
-----分割线------

地区     城市     同比     定基
环比
101.5  北京  120.7  121.4
101.2  上海  127.3  127.8
101.3  广州  119.4  120.0
102.0  深圳  140.9  145.5
100.1  沈阳  101.4  101.6

In [36]:
a.describe()

               环比          同比          定基
count    5.000000    5.000000    5.000000
mean   101.220000  121.940000  123.260000
std      0.697854   14.301154   15.799304
min    100.100000  101.400000  101.600000
25%    101.200000  119.400000  120.000000
50%    101.300000  120.700000  121.400000
75%    101.500000  127.300000  127.800000
max    102.000000  140.900000  145.500000

# DataFrame类型的数据的索引选取

In [34]:

u=pd.DataFrame(dt3,index=['a','b','c','d','e'],columns=['城市','环比','定基','同比'])
print(u)
print('-----分割线------')
print(u['城市'][0:3])#获取某一列的数据
print('-----分割线------')
print(u['城市'])#获取某一列的数据
print('-----分割线------')
print(u.loc['a'])#获取某一行的数据
print('-----分割线------')
print(u.loc['a':'d'])#获取某几行的数据
print('-----分割线------')
print(u.loc['b','城市'])#获取某一行中某一列的数据
print('-----分割线------')
print(u.loc['c','城市':'定基'])#获取某一行中的某几列的数据

   城市     环比     定基     同比
a  北京  101.5  121.4  120.7
b  上海  101.2  127.8  127.3
c  广州  101.3  120.0  119.4
d  深圳  102.0  145.5  140.9
e  沈阳  100.1  101.6  101.4
-----分割线------
a    北京
b    上海
c    广州
Name: 城市, dtype: object
-----分割线------
a    北京
b    上海
c    广州
d    深圳
e    沈阳
Name: 城市, dtype: object
-----分割线------
城市       北京
环比    101.5
定基    121.4
同比    120.7
Name: a, dtype: object
-----分割线------
   城市     环比     定基     同比
a  北京  101.5  121.4  120.7
b  上海  101.2  127.8  127.3
c  广州  101.3  120.0  119.4
d  深圳  102.0  145.5  140.9
-----分割线------
上海
-----分割线------
城市       广州
环比    101.3
定基      120
Name: c, dtype: object

# DataFrame索引的操作

In [16]:
#有列表类型构成的字典创建的
dt3={'城市':['北京','上海','广州','深圳','沈阳'],
    '环比':[101.5,101.2,101.3,102.0,100.1],
    '同比':[120.7,127.3,119.4,140.9,101.4],
    '定基':[121.4,127.8,120.0,145.5,101.6]}
a3=pd.DataFrame(dt3)
print(a3)
print('-----分割线------')
r=a3.columns.insert(4,'价格')#通过对索引的操作增加一列
a9=[9,8,7,6,5]
a3=a3.reindex(columns=r,fill_value=a9)
print(a3)

   城市     环比     同比     定基
0  北京  101.5  120.7  121.4
1  上海  101.2  127.3  127.8
2  广州  101.3  119.4  120.0
3  深圳  102.0  140.9  145.5
4  沈阳  100.1  101.4  101.6
-----分割线------
   城市     环比     同比     定基               价格
0  北京  101.5  120.7  121.4  [9, 8, 7, 6, 5]
1  上海  101.2  127.3  127.8  [9, 8, 7, 6, 5]
2  广州  101.3  119.4  120.0  [9, 8, 7, 6, 5]
3  深圳  102.0  140.9  145.5  [9, 8, 7, 6, 5]
4  沈阳  100.1  101.4  101.6  [9, 8, 7, 6, 5]

In [17]:
#通过索引删除一列
b=a3.columns.delete(2)#通过对索引的操作删除一列----同比
b2=a3.reindex(columns=b)
b2

   城市     环比     定基               价格
0  北京  101.5  121.4  [9, 8, 7, 6, 5]
1  上海  101.2  127.8  [9, 8, 7, 6, 5]
2  广州  101.3  120.0  [9, 8, 7, 6, 5]
3  深圳  102.0  145.5  [9, 8, 7, 6, 5]
4  沈阳  100.1  101.6  [9, 8, 7, 6, 5]

# pandas删除数据

In [26]:
bb=pd.Series(np.arange(6))
print(bb)
print('-----分割线------')
cc=bb.drop([2,3])#用drop删除 Series中的数据
print(cc)
print(bb)#源数据表并没有被修改

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32
-----分割线------
0    0
1    1
4    4
5    5
dtype: int32
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32

In [33]:
#删除DataFrame中的数据
dt3={'城市':['北京','上海','广州','深圳','沈阳'],
    '环比':[101.5,101.2,101.3,102.0,100.1],
    '同比':[120.7,127.3,119.4,140.9,101.4],
    '定基':[121.4,127.8,120.0,145.5,101.6]}
a3=pd.DataFrame(dt3)
print(a3)
print('-----分割线------')

cc1=a3.drop([2])#默认删除行数据
print(cc1)
print('-----分割线------')
cc2=a3.drop('环比',axis=1)#删除列数据
print(cc2)

   城市     环比     同比     定基
0  北京  101.5  120.7  121.4
1  上海  101.2  127.3  127.8
2  广州  101.3  119.4  120.0
3  深圳  102.0  140.9  145.5
4  沈阳  100.1  101.4  101.6
-----分割线------
   城市     环比     同比     定基
0  北京  101.5  120.7  121.4
1  上海  101.2  127.3  127.8
3  深圳  102.0  140.9  145.5
4  沈阳  100.1  101.4  101.6
-----分割线------
   城市     同比     定基
0  北京  120.7  121.4
1  上海  127.3  127.8
2  广州  119.4  120.0
3  深圳  140.9  145.5
4  沈阳  101.4  101.6