In [1]:
import pandas as pd  #导入需要用到的包
import numpy as np
import matplotlib.pyplot as plt
import tushare as ts
#pro=ts.pro_api('e4b96d472ce94a6fd8763c1deac5058ed3c365bd574b9ff24403ba67')
ts.set_token('e4b96d472ce94a6fd8763c1deac5058ed3c365bd574b9ff24403ba67')

In [3]:
#通用行情接口获取股票的数据
#pro=ts.pro_api('7240fde9e07a9cc82db49161b8f85769186c321ca754a13ded7722f0')
dfa=ts.pro_bar(ts_code='002094.SZ',asset='E',freq='D',ma=[5,30,80,255])#未复权
dfa

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,ma5,ma_v_5,ma30,ma_v_30,ma80,ma_v_80,ma255,ma_v_255
0,002094.SZ,20200821,4.69,4.70,4.60,4.64,4.65,-0.01,-0.2151,111475.80,51883.5930,4.752,202360.764,4.5940,301031.2763,4.3131,238211.4331,4.5587,181544.5560
1,002094.SZ,20200820,4.65,4.72,4.64,4.65,4.72,-0.07,-1.4831,134613.60,62911.1790,4.774,237621.404,4.5867,305271.2483,4.3053,238270.6846,4.5595,181322.7082
2,002094.SZ,20200819,4.84,4.84,4.70,4.72,4.88,-0.16,-3.2787,211765.40,101122.0340,4.808,294489.528,4.5810,309228.1177,4.2988,238115.2014,4.5604,181218.9516
3,002094.SZ,20200818,4.84,4.96,4.78,4.88,4.87,0.01,0.2053,292370.52,141634.1020,4.798,351923.424,4.5700,308946.4693,4.2914,236992.8835,4.5616,180689.3751
4,002094.SZ,20200817,4.73,4.88,4.69,4.87,4.75,0.12,2.5263,261578.50,124932.8280,4.790,440267.470,4.5520,307149.8600,4.2809,234641.0507,4.5620,179893.6109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3094,002094.SZ,20061221,13.33,13.50,13.10,13.12,13.35,-0.23,-1.7200,27489.50,36622.3038,13.532,72527.774,NaN,NaN,NaN,NaN,NaN,NaN
3095,002094.SZ,20061220,13.45,13.50,13.12,13.35,13.55,-0.20,-1.4800,28936.27,38466.0406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3096,002094.SZ,20061219,13.15,13.75,13.03,13.55,13.34,0.21,1.5700,46970.06,63095.9578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3097,002094.SZ,20061218,13.95,13.95,12.87,13.34,14.30,-0.96,-6.7100,71580.75,94609.3316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3098,002094.SZ,20061215,14.61,15.50,14.00,14.30,7.69,6.61,85.9600,187662.29,279062.9609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(dfa['trade_date'])
dfa['trade_date']=pd.to_datetime(dfa['trade_date'],format='%Y%m%d')#将trade_date转化为时间序列对象

0       20200814
1       20200813
2       20200812
3       20200811
4       20200810
          ...
3089    20061221
3090    20061220
3091    20061219
3092    20061218
3093    20061215
Name: trade_date, Length: 3094, dtype: object

In [5]:
dfa=dfa.set_index('trade_date')#将trade_date列设置为行索引
dfa

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount,ma5,ma_v_5,ma30,ma_v_30,ma80,ma_v_80,ma255,ma_v_255
trade_date,,,,,,,,,,,,,,,,,,
2020-08-14,002094.SZ,4.79,4.82,4.62,4.75,4.82,-0.07,-1.4523,287779.00,135451.9580,4.754,427628.570,4.5337,304903.3050,4.2713,232409.4091,4.5627,179080.4176
2020-08-13,002094.SZ,4.71,4.95,4.67,4.82,4.67,0.15,3.2120,418954.22,201812.7100,4.720,412576.290,4.5150,300147.1873,4.2628,230130.6018,4.5637,178117.1263
2020-08-12,002094.SZ,4.66,4.74,4.52,4.67,4.84,-0.17,-3.5124,498934.88,230502.0850,4.700,392769.286,4.4917,290509.2700,4.2539,226857.3108,4.5645,176640.3976
2020-08-11,002094.SZ,4.78,5.16,4.71,4.84,4.69,0.15,3.1983,734090.75,368740.7140,4.702,351562.666,4.4720,277569.8207,4.2480,223185.0464,4.5661,174858.6661
2020-08-10,002094.SZ,4.66,4.86,4.62,4.69,4.58,0.11,2.4017,198384.00,93422.6390,4.668,284537.652,4.4477,255973.1023,4.2419,216076.2075,4.5669,172237.3755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006-12-21,002094.SZ,13.33,13.50,13.10,13.12,13.35,-0.23,-1.7200,27489.50,36622.3038,13.532,72527.774,NaN,NaN,NaN,NaN,NaN,NaN
2006-12-20,002094.SZ,13.45,13.50,13.12,13.35,13.55,-0.20,-1.4800,28936.27,38466.0406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-12-19,002094.SZ,13.15,13.75,13.03,13.55,13.34,0.21,1.5700,46970.06,63095.9578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-12-18,002094.SZ,13.95,13.95,12.87,13.34,14.30,-0.96,-6.7100,71580.75,94609.3316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-12-15,002094.SZ,14.61,15.50,14.00,14.30,7.69,6.61,85.9600,187662.29,279062.9609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dfa=dfa.dropna()#删除所有包含缺失值的行
dfa

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount,ma5,ma_v_5,ma30,ma_v_30,ma80,ma_v_80,ma255,ma_v_255
trade_date,,,,,,,,,,,,,,,,,,
2020-08-14,002094.SZ,4.79,4.82,4.62,4.75,4.82,-0.07,-1.4523,287779.00,135451.9580,4.754,427628.570,4.5337,304903.3050,4.2713,232409.4091,4.5627,179080.4176
2020-08-13,002094.SZ,4.71,4.95,4.67,4.82,4.67,0.15,3.2120,418954.22,201812.7100,4.720,412576.290,4.5150,300147.1873,4.2628,230130.6018,4.5637,178117.1263
2020-08-12,002094.SZ,4.66,4.74,4.52,4.67,4.84,-0.17,-3.5124,498934.88,230502.0850,4.700,392769.286,4.4917,290509.2700,4.2539,226857.3108,4.5645,176640.3976
2020-08-11,002094.SZ,4.78,5.16,4.71,4.84,4.69,0.15,3.1983,734090.75,368740.7140,4.702,351562.666,4.4720,277569.8207,4.2480,223185.0464,4.5661,174858.6661
2020-08-10,002094.SZ,4.66,4.86,4.62,4.69,4.58,0.11,2.4017,198384.00,93422.6390,4.668,284537.652,4.4477,255973.1023,4.2419,216076.2075,4.5669,172237.3755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008-01-18,002094.SZ,22.37,22.78,21.31,22.00,22.37,-0.37,-1.6500,7117.75,15626.5612,22.410,11176.288,20.1280,14591.4590,18.6705,10446.1029,19.2786,15113.6755
2008-01-17,002094.SZ,22.83,23.60,21.71,22.37,22.95,-0.58,-2.5300,12843.00,29122.5679,22.464,11789.694,19.9713,14669.2713,18.6728,10440.1544,19.2447,15199.2383
2008-01-16,002094.SZ,22.49,23.75,22.23,22.95,22.73,0.22,0.9700,16961.21,39352.0179,22.480,11688.748,19.7987,14734.2013,18.6803,10428.4375,19.2101,15333.0699
2008-01-15,002094.SZ,22.00,22.87,21.81,22.73,22.00,0.73,3.3200,10131.17,22875.4656,22.380,11286.864,19.5857,14598.3543,18.6721,10328.7040,19.1724,15547.2642
2008-01-14,002094.SZ,21.90,22.44,21.75,22.00,22.27,-0.27,-1.2100,8828.31,19441.6871,22.232,12640.078,19.3907,14789.4103,18.6669,10240.7640,19.1394,16243.4646

In [7]:
dfa=dfa.drop('ma_v_5',axis=1)
dfa=dfa.drop('ma_v_30',axis=1)
dfa=dfa.drop('ma_v_80',axis=1)
dfa=dfa.drop('ma_v_255',axis=1)

dfa

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount,ma5,ma30,ma80,ma255
trade_date,,,,,,,,,,,,,,
2020-08-14,002094.SZ,4.79,4.82,4.62,4.75,4.82,-0.07,-1.4523,287779.00,135451.9580,4.754,4.5337,4.2713,4.5627
2020-08-13,002094.SZ,4.71,4.95,4.67,4.82,4.67,0.15,3.2120,418954.22,201812.7100,4.720,4.5150,4.2628,4.5637
2020-08-12,002094.SZ,4.66,4.74,4.52,4.67,4.84,-0.17,-3.5124,498934.88,230502.0850,4.700,4.4917,4.2539,4.5645
2020-08-11,002094.SZ,4.78,5.16,4.71,4.84,4.69,0.15,3.1983,734090.75,368740.7140,4.702,4.4720,4.2480,4.5661
2020-08-10,002094.SZ,4.66,4.86,4.62,4.69,4.58,0.11,2.4017,198384.00,93422.6390,4.668,4.4477,4.2419,4.5669
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008-01-18,002094.SZ,22.37,22.78,21.31,22.00,22.37,-0.37,-1.6500,7117.75,15626.5612,22.410,20.1280,18.6705,19.2786
2008-01-17,002094.SZ,22.83,23.60,21.71,22.37,22.95,-0.58,-2.5300,12843.00,29122.5679,22.464,19.9713,18.6728,19.2447
2008-01-16,002094.SZ,22.49,23.75,22.23,22.95,22.73,0.22,0.9700,16961.21,39352.0179,22.480,19.7987,18.6803,19.2101
2008-01-15,002094.SZ,22.00,22.87,21.81,22.73,22.00,0.73,3.3200,10131.17,22875.4656,22.380,19.5857,18.6721,19.1724
2008-01-14,002094.SZ,21.90,22.44,21.75,22.00,22.27,-0.27,-1.2100,8828.31,19441.6871,22.232,19.3907,18.6669,19.1394

In [8]:
#用循环找出金叉和死叉
jincha=[]
shicha=[]
for i in range(1,len(dfa)):
    if dfa['ma5'][i] >= dfa['ma30'][i] and dfa['ma5'][i-1] < dfa['ma30'][i-1]:
        jincha.append(str(dfa.index[i]))
    if dfa['ma5'][i] <= dfa['ma30'][i] and dfa['ma5'][i-1] > dfa['ma30'][i-1]:
        shicha.append(str(dfa.index[i]))
    
print(jincha)
print(shicha)

['2020-06-29 00:00:00', '2020-05-21 00:00:00', '2020-04-16 00:00:00', '2020-03-12 00:00:00', '2020-01-23 00:00:00', '2019-11-01 00:00:00', '2019-09-27 00:00:00', '2019-07-18 00:00:00', '2019-04-24 00:00:00', '2018-12-13 00:00:00', '2018-07-30 00:00:00', '2018-05-30 00:00:00', '2018-05-10 00:00:00', '2018-03-27 00:00:00', '2017-11-09 00:00:00', '2017-10-20 00:00:00', '2017-09-25 00:00:00', '2017-07-13 00:00:00', '2017-05-22 00:00:00', '2017-03-29 00:00:00', '2017-01-23 00:00:00', '2016-12-12 00:00:00', '2016-07-07 00:00:00', '2016-06-27 00:00:00', '2016-04-21 00:00:00', '2016-02-26 00:00:00', '2016-01-12 00:00:00', '2015-08-24 00:00:00', '2015-06-25 00:00:00', '2015-04-20 00:00:00', '2014-10-23 00:00:00', '2014-10-10 00:00:00', '2014-09-19 00:00:00', '2014-04-28 00:00:00', '2014-03-19 00:00:00', '2013-12-24 00:00:00', '2013-11-08 00:00:00', '2013-06-04 00:00:00', '2013-04-17 00:00:00', '2012-11-08 00:00:00', '2012-10-30 00:00:00', '2012-09-24 00:00:00', '2012-07-27 00:00:00', '2012-06-04 00:00:00', '2012-05-25 00:00:00', '2012-03-27 00:00:00', '2012-03-09 00:00:00', '2011-11-29 00:00:00', '2011-09-09 00:00:00', '2011-09-07 00:00:00', '2011-07-20 00:00:00', '2011-05-24 00:00:00', '2011-04-20 00:00:00', '2011-03-29 00:00:00', '2011-03-14 00:00:00', '2011-01-25 00:00:00', '2010-12-03 00:00:00', '2010-11-22 00:00:00', '2010-09-30 00:00:00', '2010-06-30 00:00:00', '2010-05-12 00:00:00', '2010-01-22 00:00:00', '2010-01-06 00:00:00', '2009-10-29 00:00:00', '2009-09-24 00:00:00', '2009-08-31 00:00:00', '2009-08-18 00:00:00', '2009-06-15 00:00:00', '2009-04-29 00:00:00', '2009-03-13 00:00:00', '2009-03-03 00:00:00', '2008-12-22 00:00:00', '2008-12-18 00:00:00', '2008-08-07 00:00:00', '2008-05-28 00:00:00', '2008-03-11 00:00:00', '2008-02-28 00:00:00', '2008-01-25 00:00:00']
['2020-07-06 00:00:00', '2020-06-02 00:00:00', '2020-05-15 00:00:00', '2020-03-30 00:00:00', '2020-03-06 00:00:00', '2019-12-17 00:00:00', '2019-10-09 00:00:00', '2019-08-27 00:00:00', '2019-07-02 00:00:00', '2019-02-15 00:00:00', '2018-11-09 00:00:00', '2018-07-19 00:00:00', '2018-05-18 00:00:00', '2018-04-03 00:00:00', '2018-01-05 00:00:00', '2017-10-23 00:00:00', '2017-10-11 00:00:00', '2017-08-17 00:00:00', '2017-07-04 00:00:00', '2017-05-05 00:00:00', '2017-03-07 00:00:00', '2016-12-27 00:00:00', '2016-11-04 00:00:00', '2016-07-01 00:00:00', '2016-05-03 00:00:00', '2016-03-18 00:00:00', '2016-02-17 00:00:00', '2015-12-14 00:00:00', '2015-08-13 00:00:00', '2015-05-13 00:00:00', '2015-01-19 00:00:00', '2014-10-15 00:00:00', '2014-10-08 00:00:00', '2014-06-03 00:00:00', '2014-04-03 00:00:00', '2014-01-24 00:00:00', '2013-12-11 00:00:00', '2013-08-30 00:00:00', '2013-05-13 00:00:00', '2012-12-19 00:00:00', '2012-11-06 00:00:00', '2012-10-19 00:00:00', '2012-08-03 00:00:00', '2012-07-25 00:00:00', '2012-05-29 00:00:00', '2012-05-14 00:00:00', '2012-03-14 00:00:00', '2012-02-07 00:00:00', '2011-10-31 00:00:00', '2011-09-08 00:00:00', '2011-08-15 00:00:00', '2011-06-09 00:00:00', '2011-05-11 00:00:00', '2011-03-31 00:00:00', '2011-03-28 00:00:00', '2011-01-31 00:00:00', '2011-01-11 00:00:00', '2010-11-24 00:00:00', '2010-11-09 00:00:00', '2010-07-09 00:00:00', '2010-05-31 00:00:00', '2010-01-26 00:00:00', '2010-01-14 00:00:00', '2009-11-04 00:00:00', '2009-10-16 00:00:00', '2009-09-17 00:00:00', '2009-08-21 00:00:00', '2009-06-19 00:00:00', '2009-05-05 00:00:00', '2009-03-20 00:00:00', '2009-03-05 00:00:00', '2009-01-20 00:00:00', '2008-12-19 00:00:00', '2008-10-21 00:00:00', '2008-07-22 00:00:00', '2008-04-30 00:00:00', '2008-03-04 00:00:00', '2008-02-04 00:00:00']

# 不用循环找出金叉和死叉

In [9]:
sr1=dfa['ma5']<dfa['ma30']
sr2=dfa['ma5']>=dfa['ma30']
shicha=dfa[sr1 & sr2.shift(1)]#死叉
jincha=dfa[-(sr1 | sr2.shift(1))]#金叉

In [10]:
jingchalist=dfa[-(sr1|sr2.shift(1))].index
shichalist=dfa[sr1 & sr2.shift(1)].index
print(shichalist)
print(jingchalist)

DatetimeIndex(['2020-07-06', '2020-06-02', '2020-05-15', '2020-03-30',
               '2020-03-06', '2019-12-17', '2019-10-09', '2019-08-27',
               '2019-07-02', '2019-02-15', '2018-11-09', '2018-07-19',
               '2018-05-18', '2018-04-03', '2018-01-05', '2017-10-23',
               '2017-10-11', '2017-08-17', '2017-07-04', '2017-05-05',
               '2017-03-07', '2016-12-27', '2016-07-21', '2016-07-01',
               '2016-05-03', '2016-03-18', '2016-02-17', '2015-12-14',
               '2015-08-13', '2015-05-13', '2015-01-19', '2014-10-15',
               '2014-10-08', '2014-06-03', '2014-04-03', '2014-01-24',
               '2013-12-11', '2013-08-30', '2013-05-13', '2012-12-19',
               '2012-11-06', '2012-10-19', '2012-08-03', '2012-07-25',
               '2012-05-29', '2012-05-14', '2012-03-14', '2012-02-07',
               '2011-10-31', '2011-09-08', '2011-08-15', '2011-06-09',
               '2011-05-11', '2011-03-31', '2011-03-28', '2011-01-31',
               '2011-01-11', '2010-11-24', '2010-11-09', '2010-07-09',
               '2010-05-31', '2010-01-26', '2010-01-14', '2009-11-04',
               '2009-10-16', '2009-09-17', '2009-08-21', '2009-06-19',
               '2009-05-05', '2009-03-20', '2009-03-05', '2009-01-20',
               '2008-12-19', '2008-10-21', '2008-07-22', '2008-04-30',
               '2008-03-04', '2008-02-04'],
              dtype='datetime64[ns]', name='trade_date', freq=None)
DatetimeIndex(['2020-08-14', '2020-06-29', '2020-05-21', '2020-04-16',
               '2020-03-12', '2020-01-23', '2019-11-01', '2019-09-27',
               '2019-07-18', '2019-04-24', '2018-12-13', '2018-07-30',
               '2018-05-30', '2018-05-10', '2018-03-27', '2017-11-09',
               '2017-10-20', '2017-09-25', '2017-07-13', '2017-05-22',
               '2017-03-29', '2017-01-23', '2016-12-12', '2016-07-07',
               '2016-06-27', '2016-04-21', '2016-02-26', '2016-01-12',
               '2015-08-24', '2015-06-25', '2015-04-20', '2014-10-23',
               '2014-10-10', '2014-09-19', '2014-04-28', '2014-03-19',
               '2013-12-24', '2013-11-08', '2013-06-04', '2013-04-17',
               '2012-11-08', '2012-10-30', '2012-09-24', '2012-07-27',
               '2012-06-04', '2012-05-25', '2012-03-27', '2012-03-09',
               '2011-11-29', '2011-09-09', '2011-09-07', '2011-07-20',
               '2011-05-24', '2011-04-20', '2011-03-29', '2011-03-14',
               '2011-01-25', '2010-12-03', '2010-11-22', '2010-09-30',
               '2010-06-30', '2010-05-12', '2010-01-22', '2010-01-06',
               '2009-10-29', '2009-09-24', '2009-08-31', '2009-08-18',
               '2009-06-15', '2009-04-29', '2009-03-13', '2009-03-03',
               '2008-12-22', '2008-12-18', '2008-08-07', '2008-05-28',
               '2008-03-11', '2008-02-28', '2008-01-25'],
              dtype='datetime64[ns]', name='trade_date', freq=None)

In [11]:
first_money=100000
money=first_money
hold=0  #持有的股数
sr1=pd.Series(1,index=jingchalist)#用金叉日期来构造series
sr2=pd.Series(0,index=shichalist)
sr=sr1.append(sr2).sort_index()#将两个series合并成一个series并按照索引进行排序
sr

trade_date
2008-01-25    1
2008-02-04    0
2008-02-28    1
2008-03-04    0
2008-03-11    1
             ..
2020-05-21    1
2020-06-02    0
2020-06-29    1
2020-07-06    0
2020-08-14    1
Length: 157, dtype: int64

In [20]:
for i in range(0,len(sr)):
    #p=dfa['open'][sr.index[i]]
    if sr.iloc[i]== 1:
        #print(sr.iloc[i])
        p=dfa['open'][sr.index[i]]
        #金叉买入
        buy=(money//(p*100))#可以买多少手股
        hold=hold+(buy*100)  #持有的股票数
        money=money-(buy*100*p) #买完后剩下的钱
    else:
        #死叉卖出
        money=money+(hold*p)
        hold=0
        
#最后一天交易日的价格
p=dfa['open'][-1]
now_money=hold*p+money
print(now_money-first_money)#赚的钱

53330668354.0