In [13]:
import pandas as pd#引入pandas库
#pandas是python的第三方库，提供高性能易用数据类型和分析工具
#pandas基于numpy实现
#常与numpy和matplotlib一同使用
d=pd.Series(range(20),index=(range(40,60)))#通过列表创建Series,指定index索引，也可以不指定，索引默认从零开始
print(d)

40     0
41     1
42     2
43     3
44     4
45     5
46     6
47     7
48     8
49     9
50    10
51    11
52    12
53    13
54    14
55    15
56    16
57    17
58    18
59    19
dtype: int64

In [30]:
import numpy as np
ui=pd.Series((2,3,4,56),(34,546,75,43))#通过元组创建Series

print(ui)

34      2
546     3
75      4
43     56
dtype: int64

In [31]:
#通过numpy创建Series
nu=pd.Series(np.arange(6),index=(range(12,18)))
print(nu)

12    0
13    1
14    2
15    3
16    4
17    5
dtype: int32

In [48]:
# 通过字典创建Series
ui={2:4,'wang':3,'王':23}
ui=pd.Series(ui)
print(ui)

2        4
wang     3
王       23
dtype: int64

In [46]:
#Series有两个属性index和values可以返回索引和值
print(ui.index)#查看series的index属性
print(ui.values)#查看series的value属性

Index([2, 'wang', '王'], dtype='object')
[ 4  3 23]

In [50]:
#series对象和索引都有name属性，可以自定义名称
ui.name=('王凯旋的数据分析')
ui.index.name=('整数')
print(ui)

整数
2        4
wang     3
王       23
Name: 王凯旋的数据分析, dtype: int64

In [42]:
ui=pd.Series({2:4,'wang':3,'王':23},index=[2,3,4,5])
ui

2    4.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [5]:
#通过标量值创建Series
biaoliang=pd.Series(23,index=(90,))
print(biaoliang)

90    23
dtype: int64

In [7]:
#Series的索引和切片

ui3=pd.Series(range(10),index=['a','b','c','d','e','f','g','h','i','j'])
lit=list(range(9))
print(type(lit))#查看range函数被list函数返回后的数据类型
print(ui3)
print(ui3[3])#通过自动索引
print(ui3['f'])#通过自定义索引

<class 'list'>
a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64
3
5

In [9]:
#Series类型的in保留字
if 5 in ui3:
    print('王凯旋是天才')   
#判断 6是否是ui3的的索引是就返回True否就返回False
print(6 in ui3)
#Serise类型中的get方法
ui3.get('90','没有90')

False

'没有90'

In [11]:
#series类型的对齐操作
a=pd.Series([1,2,3],index=['c','d','e'])
b=pd.Series([9,8,7,6],['a','b','c','d'])
print(a+b)#Series类型会自动对其不同索引的数据

a    NaN
b    NaN
c    8.0
d    8.0
e    NaN
dtype: float64

In [20]:
#series类型的修改
#series类型的修改是随时修改并即刻生效的
import numpy as np
s5=pd.Series(np.arange(5))
print(s5)
s5.name='2020年6月5日'
print(s5.name)
s5[2]='王凯旋'
print(s5)

0    0
1    1
2    2
3    3
4    4
dtype: int32
2020年6月5日
0      0
1      1
2    王凯旋
3      3
4      4
Name: 2020年6月5日, dtype: object

# DateFrame类型的创建

In [2]:
#从二维ndarray对象创建
import numpy as np
import pandas as pd
df=pd.DataFrame(np.arange(12).reshape(3,4))#二维数组创建DataFrame对象
df

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [9]:
#从Series构成的字典创建
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([9,8,7,6],index=['a','b','c','d'])} 
dt=pd.DataFrame(d)#自动索引
dt
#修改索引（自定义索引）
dt1=pd.DataFrame(dt,index=['b','c','d'],columns=['two','three'])#自定义行索引和列索引
dt1

   two  three
b    8    NaN
c    7    NaN
d    6    NaN

In [ ]:
#从列表类型的字典创建（1）
d

In [3]:
#从列表类型的字典创建（2）
dt3={'城市':['北京','上海','广州','深圳','沈阳'],
    '环比':[101.5,101.2,101.3,102.0,100.1],
    '同比':[120.7,127.3,119.4,140.9,101.4],
    '定基':[121.4,127.8,120.0,145.5,101.6]}
p=pd.DataFrame(dt3)
print(p)
print(type(p.index))#返回的是pandas索引类型
print(type(p.values))#返回的值是ndarray类型
print(p.columns)#返回的是pandas索引的类型

   城市     环比     同比     定基
0  北京  101.5  120.7  121.4
1  上海  101.2  127.3  127.8
2  广州  101.3  119.4  120.0
3  深圳  102.0  140.9  145.5
4  沈阳  100.1  101.4  101.6
<class 'pandas.core.indexes.range.RangeIndex'>
<class 'numpy.ndarray'>
Index(['城市', '环比', '同比', '定基'], dtype='object')

In [4]:
p=pd.DataFrame(dt3,index=['a','b','c','d','e'])
p

   城市     环比     同比     定基
a  北京  101.5  120.7  121.4
b  上海  101.2  127.3  127.8
c  广州  101.3  119.4  120.0
d  深圳  102.0  140.9  145.5
e  沈阳  100.1  101.4  101.6

In [8]:
p[['城市','环比']]#获取某几列的数据

   城市     环比
a  北京  101.5
b  上海  101.2
c  广州  101.3
d  深圳  102.0
e  沈阳  100.1

In [15]:
#DateFrame数据类型的索引
print(p['城市'])#列索引
print(type(p['城市']))#索引返回的值是Series类型
#行索引
print(p.xi['a'])

NameError: name 'p' is not defined

# DataFrame数据类型的操作


# pandas数据类型运算