In [2]:
import pandas as pd
import numpy as np
a=pd.DataFrame(np.arange(12).reshape(3,4))
print(a)
print('-----分割线------')
b=pd.DataFrame(np.arange(20).reshape(4,5))
print(b)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
-----分割线------
    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [3]:
a+b #维度相同的数据行列元素数量不同，自动补齐缺失值后进行运算

      0     1     2     3   4
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [4]:
a*b #维度相同的数据行列元素数量不同，自动补齐缺失值后进行运算

      0     1      2      3   4
0   0.0   1.0    4.0    9.0 NaN
1  20.0  30.0   42.0   56.0 NaN
2  80.0  99.0  120.0  143.0 NaN
3   NaN   NaN    NaN    NaN NaN

# pandas数据的排序

In [18]:
ji=pd.DataFrame(np.arange(20).reshape(4,5),index=['c','a','d','b'],columns=[2,10,5,1,9])
print(ji)

   2   10  5   1   9
c   0   1   2   3   4
a   5   6   7   8   9
d  10  11  12  13  14
b  15  16  17  18  19

In [19]:
u=ji.sort_index()#通过索引进行排序
u

   2   10  5   1   9
a   5   6   7   8   9
b  15  16  17  18  19
c   0   1   2   3   4
d  10  11  12  13  14

In [23]:
u2=ji.sort_index(axis=1)#按1轴索引来进行排序
u2

   1   2   5   9   10
c   3   0   2   4   1
a   8   5   7   9   6
d  13  10  12  14  11
b  18  15  17  19  16