In [5]:
import pandas as pd
a=pd.Series([1,2,3,5])#从Python列表创建Series类型
a
b=pd.Series(range(6),index=range(6,12))#自定义index索引
b

6     0
7     1
8     2
9     3
10    4
11    5
dtype: int64

In [9]:
s=pd.Series(23,index=(3,))#通过标量值创建Series类型
print(s)
s1=pd.Series(23,index=[4])
print(s1)

3    23
dtype: int64
4    23
dtype: int64

In [24]:
zidian={'wang':4,'北京':45,'南京':'东京',23:45}#字典类型创建Series类型
print(type(zidian))
s2=pd.Series(zidian)
print(s2)
s2['北京']

<class 'dict'>
wang     4
北京      45
南京      东京
23      45
dtype: object

45

In [18]:
print(s2.values)
print(s2.index)
s2.name=4545
s2.index.name='索引'
s2

['东京' 45 4 nan]
Index(['南京', '北京', 'wang', 43], dtype='object', name='索引')
索引

In [20]:
#通过numpy的ndarray一维数组构建Series类型
import numpy as np
s3=pd.Series(np.arange(4,16,2),index=range(1,7))
s3
print(np.arange(4,16,2))

[ 4  6  8 10 12 14]

In [28]:
s4=pd.Series(range(10))
print(s4[s4>6])#过滤操作
print(np.exp(s4))
s4.get(23,'没有23')

7    7
8    8
9    9
dtype: int64
0       1.000000
1       2.718282
2       7.389056
3      20.085537
4      54.598150
5     148.413159
6     403.428793
7    1096.633158
8    2980.957987
9    8103.083928
dtype: float64

'没有23'